html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*-----index.html style-----*/
.wrapper{
    height: 660px;
    width: 1350px;
  

}
header{
    height: 150px;
    width: 1364px;
    background-color: black;
}
section{
    height: 550px;
    width: 1364px;
    background-color: grey;
}
footer{
    height: 82px;
    width: 1364px;
    background-color: black;
}
.logo{
    float: left;
    padding-left: 30px;
    padding-top: 10px;
}
.logo img{
    padding-left: 60px;
}
li a
{
   color: white;
   text-decoration: none;
}
a:hover {
  color: #E6E6FA;
  text-decoration: underline;
}
nav{
    float: right;
    word-spacing: 30px;
    padding: 20px;
}
nav li{
    display: inline-block;
    line-height: 80px;
}
section .sec_img
{   height: 550px;
    margin-top: 0px;
    background-image: url("slike/toys.jpg");
   
    
}
.box{
    height: 300px;
    width: 450px;
    background-color:#E0FFFF;
    margin:50px auto;
    opacity: .5;
    color:black;
}
/*------------------registracija_starsi.html style----------*/
.log_img
{
    height: 650px;
    margin-top: 0px;
    background-image: url("slike/duga.jpg");
}

.box1
{
   height: 800px;
   width: 550px;
   background-color: #E0FFFF;
   margin: 70px auto;
   opacity: .7;
   color: black;
   padding: 20px;
}
form .login{
margin: auto 70px;
}
input{

    height: 25px;
    width: 300px;
}
/*--------------------------registracija.html style---------------------------------*/
.registruj_img
{
    height: 630px;
    margin-top: 0px;
    background-image: url("slike/hands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box2
{
   height: 400px;
   width: 550px;
   background-color: #ADD8E6;
   margin:70px auto;
   opacity: .7;
   color: black;
   padding: 20px;
}
/*form .Registration
{
    margin:  300px auto;
}*/
input{

    height: 25px;
    width: 300px;
    margin-left: 50px;
}
form .reg{
    
    margin: 50px;
}

/*--------------------------registracija.html style---------------------------------*/

.ad_img
{
    height: 630px;
    margin-top: 0px;
    background-image: url("slike/administrator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box3
{
   height: 300px;
   width: 550px;
   background-color:white;
   margin:70px auto;
   opacity: .7;
   color: black;
   padding: 20px;
}

.teacher_img
{
    height: 630px;
    margin-top: 0px;
    background-image: url("slike/teacher1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box4
{
   height: 300px;
   width: 550px;
   background-color:#FFE4E1;
   margin:70px auto;
   opacity: .7;
   color: black;
   padding: 20px;
}
.prijava_img
{
    height: 630px;
    margin-top: 0px;
    background-image: url("slike/kids.png");
    background-repeat: no-repeat;
    background-size: cover;
}
